/config/config.php
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/public_html/uploads/*
!/public_html/uploads/.htaccess
!/public_html/uploads/.gitkeep
.DS_Store
/storage/attachments/
/storage/branding/
/storage/installed.lock
/dist/
